body {
    background-color:red;
}
.bg-dark  {
    background-color:#495867;

    -webkit-box-shadow: 0px 3px 8px -1px rgba(0,0,0,1);
    -moz-box-shadow: 0px 3px 8px -1px rgba(0,0,0,1);
    box-shadow: 0px 3px 8px -1px rgba(0,0,0,1);
}